<div id="main">

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#/">POS PF</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#/">Home</a></li>
            <li><a href="#/client">Clientes</a></li>
            <li><a href="#/admin">Admins</a></li>
            <li><a href="#/provider">Proveedores</a></li>
            <li><a href="#/product">Productos</a></li>
            <li><a href="#/branchOffice">Sucursales</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#/login"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
        </ul>
      </div>
    </nav>
        
   
    
        <div class="container">
            <div class="well">

                <p align = "center" class="lead">Aquí podés dar mantenimiento a los productos</p>
                <p>Todos los productos de Farmatica y Phischel estan disponibles  </p>
                <p>Las operaciones CRUD estan disponibles</p> 
            
            </div>
        </div>

        <div class="row">       <!-- Formato bonito para tablas-->
            <div class="col-md-12" >
            <nav class= "navbar navbar-default" role= "navigation" >
                <h4 align="center"><span class="text-warning">Productos</span></h4>  <!-- titulo de tabla-->
                <div class= "navbar-header" ></div>
            </nav>
                <table class="table table-striped table-bordered">
                <thead>
                <th>Nombre&nbsp;</th>        <!-- tiene 2 encabezados-->
                <th>Precio&nbsp;</th>
                <th>Codigo EAN&nbsp;</th>
                <th>Cantidad</th>
                </thead>
                <tbody>             <!-- el vm. algo debe exisitir en el controlador o en un servicio inyectado-->
                    <tr ng-repeat="product in allProducts track by $index">   <!--el ng-repeat es importantisimo -->
                                                        <!--es como un for, itera en una lista -->
                        <td>{{product.Name}}</td>
                        <td>{{product.Price | currency: "₡"}}</td>
                        <td>{{product.EAN}}</td>
                        <td>{{product.Quantity}}</td>
                        <td><button ng-click="toggle2(product.EAN)" type="button" class="btn btn-success" >Actualizar</button></td>
                        <td><button ng-click="deleteProduct(product.EAN)" type="button" class="btn btn-warning" >Eliminar</button> </td>
                    </tr>           <!-- estos son los valores de la tabla-->
                  </tbody>    
                </table>
            </div>
        </div>
        

<button type="button" style="margin:2em" class="btn btn-primary"  ng-click="toggle()">Ingresar nuevo producto</button> 

        
<div class="col-md-6 col-md-offset-3">         
<div ng-show="showCreate">
    
<div class="container">
    <div class="panel panel-primary">
        <div  class="panel-heading"  style="margin:2em" >Nuevo producto</div>
            <div class="panel-body">
      
                 <form name="createForm" ng-submit="create()" role="form" novalidate><!--ng-submit se da cuando se presiona submit abajo-->

                    <div class="form-group" ng-class="{ 'has-error': createForm.Id.$dirty && createForm.Id.$error.required }">
                        <label>EAN</label>
                        <input type="text" name="Id"  class="form-control" ng-model="newProduct.EAN" required />
                        <span ng-show="createForm.Id.$dirty && createForm.Id.$error.required" class="help-block">El nombre de usuario  es requerido</span>
                    </div>

                     <div class="form-group" ng-class="{ 'has-error': createForm.name.$dirty && createForm.name.$error.required }">
                        <label>Nombre</label>
                        <input type="text" name="name"  class="form-control" ng-model="newProduct.Name" required />
                        <span ng-show="createForm.name.$dirty && createForm.name.$error.required" class="help-block">El nombre es requerido</span>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error': createForm.price.$dirty && createForm.price.$error.required }">
                        <label>Precio</label>
                        <input type="text" name="price"  class="form-control" ng-model="newProduct.Price" required />
                        <span ng-show="createForm.price.$dirty && createForm.price.$error.required" class="help-block">El precio es requerida</span>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error': createForm.quantity.$dirty && createForm.quantity.$error.required }">
                        <label>Cantidad</label>
                        <input type="text" name="quantity"  class="form-control" ng-model="newProduct.Quantity" required />
                        <span ng-show="createForm.quantity.$dirty && createForm.quantity.$error.required" class="help-block">La cantidad es requerido</span>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error': createForm.dailyAverage.$dirty && createForm.dailyAverage.$error.required }">
                        <label>Promedio de ventas</label>
                        <input type="text" name="dailyAverage" class="form-control" ng-model="newProduct.DailyAverageSales" required />
                        <span ng-show="createForm.dailyAverage.$dirty && createForm.dailyAverage.$error.required" class="help-block">El promedio de ventas es requerido</span>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error': createForm.daysShipment.$dirty && createForm.daysShipment.$error.required }">
                        <label>Dias entre envio</label>
                        <input type="text" name="daysShipment" class="form-control" ng-model="newProduct.DaysBtwnShipment" required />
                        <span ng-show="createForm.daysShipment.$dirty && createForm.daysShipment.$error.required" class="help-block">Los dias entre envio es requerido</span>
                    </div>

                    <div class="form-actions">
                        <!--Boton submit-->
                        <button type="submit"  ng-disabled="dataLoading|| createForm.$invalid " class="btn btn-primary">Crear</button>
                        <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                     </div>
                </form>  
            </div>
        </div>
    </div>
</div>
</div>

<div class="col-md-6 col-md-offset-3">     
<div ng-show="showEdit">
        
    <div class="container">
        <div class="panel panel-primary">
        <div  class="panel-heading"  style="margin:2em" >Editar producto </div>
            <div class="panel-body">    

               <form name="editForm" ng-submit="update()" role="form" novalidate><!-- ng-submit se da cuando se presiona submit abajo-->

                    <div class="form-group" ng-class="{ 'has-error': editForm.name.$dirty && form.name.$error.required }">
                        <label>Nombre</label>
                        <input type="text" name="name"  class="form-control" ng-model="updateProduct.Name" required />
                        <span ng-show="editForm.name.$dirty && editForm.name.$error.required" class="help-block">El nombre es requerido</span>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error': editForm.price.$dirty && editForm.price.$error.required }">
                        <label>Precio</label>
                        <input type="text" name="price"  class="form-control" ng-model="updateProduct.Price" required />
                        <span ng-show="editForm.price.$dirty && editForm.price.$error.required" class="help-block">El precio es requerida</span>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error': editForm.quantity.$dirty && editForm.quantity.$error.required }">
                        <label>Cantidad</label>
                        <input type="text" name="quantity"  class="form-control" ng-model="updateProduct.Quantity" required />
                        <span ng-show="editForm.quantity.$dirty && editForm.quantity.$error.required" class="help-block">La cantidad es requerido</span>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error': editForm.dailyAverage.$dirty && editForm.dailyAverage.$error.required }">
                        <label>Promedio de ventas</label>
                        <input type="text" name="dailyAverage" class="form-control" ng-model="updateProduct.DailyAverageSales" required />
                        <span ng-show="editForm.dailyAverage.$dirty && editForm.dailyAverage.$error.required" class="help-block">El promedio de ventas es requerido</span>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error': editForm.daysShipment.$dirty && editForm.daysShipment.$error.required }">
                        <label>Dias entre envio</label>
                        <input type="text" name="daysShipment" class="form-control" ng-model="updateProduct.DaysBtwnShipment" required />
                        <span ng-show="editForm.daysShipment.$dirty && editForm.daysShipment.$error.required" class="help-block">Los dias entre envio es requerido</span>
                    </div>

                    <div class="form-actions">
                        <!--Boton submit-->
                        <button type="submit"  ng-disabled="editForm.$invalid || dataLoading" class="btn btn-primary">Editar</button>
                        <img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    </div>
                   
                </form> 
            </div>
        </div>
    </div>
</div>
</div>        
 
</div>
