<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WEBAPI.Reports.Properties.Settings.PospfConnectionString"
            connectionString="Data Source=KEVIN-PC;Initial Catalog=Pospf;User ID=sa;Password=bazofia"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>