<div id="main">

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#/">POS PF</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#/">Home</a></li>
            <li><a href="#/client">Clientes</a></li>
            <li><a href="#/admin">Admins</a></li>
            <li><a href="#/provider">Proveedores</a></li>
            <li><a href="#/product">Productos</a></li>
            <!-- <li><a href="#/employee">Empleados</a></li> -->
            <li><a href="#/branchOffice">Sucursales</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#/login"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
        </ul>
      </div>
    </nav>
        
    <div class="col-md-6 col-md-offset-3">
    
        <div class="container">
            <div class="well">

                <p align = "center" class="lead">Aquí podés dar mantenimiento a los empleados</p>
                <p>Todos los empleados de Farmatica y Phischel estan disponibles  </p>
                <p>Las operaciones CRUD estan disponibles</p> 
            </div>
        </div>

        <div class="row">       <!-- Formato bonito para tablas-->
            <div class="col-md-12" >
            <nav class= "navbar navbar-default" role= "navigation" >
                <h4 align="center"><span class="text-warning">Empleados</span></h4>  <!-- titulo de tabla-->
                <div class= "navbar-header" ></div>
            </nav>
                <table class="table table-striped table-bordered">
                <thead>
                <th>Nombre&nbsp;</th>        <!-- tiene 2 encabezados-->
                <th>Precio&nbsp;</th>
                <th>Codigo EAN&nbsp;</th>
                </thead>
                <tbody>             <!-- el vm. algo debe exisitir en el controlador o en un servicio inyectado-->
                    <tr ng-repeat="employee in allEmployees track by $index">   <!--el ng-repeat es importantisimo -->
                                                        <!--es como un for, itera en una lista -->
                        <td>{{employee.Name}}</td>
                        <td>{{employee.Price}}</td>
                        <td>{{employee.EAN}}</td>
                        <td><button ng-click="toggle2(employee.IdNumber)" type="button" class="btn btn-success" >Actualizar</button></td>
                        <td><button ng-click="deleteEmployee(employee.IdNumber)" type="button" class="btn btn-warning" >Eliminar</button> </td>
                    </tr>           <!-- estos son los valores de la tabla-->
                  </tbody>    
                </table>
            </div>
        </div>
        

<button type="button" style="margin:2em" class="btn btn-primary"  ng-click="toggle()">Ingresar nuevo empleado</button> 

        
<div ng-show="showCreate"  >
    
<div class="container">
    <div class="panel panel-primary">
        <div  class="panel-heading"  style="margin:2em" >Nuevo empleado</div>
            <div class="panel-body">
      
                 <form name="createForm" ng-submit="create()" role="form" novalidate><!--ng-submit se da cuando se presiona submit abajo-->

                    <div class="form-group" ng-class="{ 'has-error': createForm.Id.$dirty && createForm.Id.$error.required }">
                        <label>EAN</label>
                        <input type="text" name="Id"  class="form-control" ng-model="newEmployee.IdNumber" required />
                        <span ng-show="createForm.Id.$dirty && createForm.Id.$error.required" class="help-block">El nombre de usuario  es requerido</span>
                    </div>

                     <div class="form-group" ng-class="{ 'has-error': createForm.name.$dirty && createForm.name.$error.required }">
                        <label>Nombre</label>
                        <input type="text" name="name"  class="form-control" ng-model="newEmployee.Name" required />
                        <span ng-show="createForm.name.$dirty && createForm.name.$error.required" class="help-block">El nombre es requerido</span>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error': createForm.pass.$dirty && createForm.pass.$error.required }">
                        <label>Contraseña</label>
                        <input type="password" name="pass"  class="form-control" ng-model="newEmployee.Pass" required />
                        <span ng-show="createForm.pass.$dirty && createForm.pass.$error.required" class="help-block">La contraseña es requerida</span>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error': createForm.lastname1.$dirty && createForm.lastname1.$error.required }">
                        <label>Primer Apellido 1</label>
                        <input type="text" name="lastname1"  class="form-control" ng-model="newEmployee.LastName1" required />
                        <span ng-show="createForm.lastname1.$dirty && createForm.lastname1.$error.required" class="help-block">El primer apellido es requerido</span>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error': createForm.lastname2.$dirty && createForm.lastname2.$error.required }">
                        <label>Segundo Apellido</label>
                        <input type="text" name="lastname2" class="form-control" ng-model="newEmployee.LastName2" required />
                        <span ng-show="createForm.lastname2.$dirty && createForm.lastname2.$error.required" class="help-block">La fecha es requerida</span>
                    </div>


                    <div class="form-actions">
                        <!--Boton submit-->
                        <button type="submit"  ng-disabled="dataLoading|| createForm.$invalid " class="btn btn-primary">Crear</button>
                        <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                     </div>
                </form>  
            </div>
        </div>
    </div>
</div>

    <div ng-show="showEdit">
        
    <div class="container">
        <div class="panel panel-primary">
        <div  class="panel-heading"  style="margin:2em" >Editar empleado </div>
            <div class="panel-body">    

               <form name="editForm" ng-submit="editEmployee()" role="form" novalidate><!-- ng-submit se da cuando se presiona submit abajo-->

                    <div class="form-group" ng-class="{ 'has-error': editForm.name.$dirty && form.name.$error.required }">
                        <label>Nombre</label>
                        <input type="text" name="name"  class="form-control" ng-model="updateEmployee.Name" required />
                        <span ng-show="editForm.name.$dirty && editForm.name.$error.required" class="help-block">El nombre es requerido</span>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error': editForm.pass.$dirty && editForm.pass.$error.required }">
                        <label>Contraseña</label>
                        <input type="password" name="pass"  class="form-control" ng-model="updateEmployee.Pass" required />
                        <span ng-show="editForm.pass.$dirty && editForm.pass.$error.required" class="help-block">La contraseña es requerida</span>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error': editForm.lastname1.$dirty && form.lastname1.$error.required }">
                        <label>Primer Apellido 1</label>
                        <input type="text" name="lastname1"  class="form-control" ng-model="updateEmployee.LastName1" required />
                        <span ng-show="editForm.lastname1.$dirty && editForm.lastname1.$error.required" class="help-block">El primer apellido es requerido</span>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error': editForm.lastname2.$dirty && form.lastname2.$error.required }">
                        <label>Segundo Apellido</label>
                        <input type="text" name="lastname2" class="form-control" ng-model="updateEmployee.LastName2" required />
                        <span ng-show="editForm.lastname2.$dirty && editForm.lastname2.$error.required" class="help-block">La fecha es requerida</span>
                   </div>

                    <div class="form-actions">
                        <!--Boton submit-->
                        <button type="submit"  ng-disabled="editForm.$invalid || dataLoading" class="btn btn-primary">Editar</button>
                        <img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    </div>
                   
                </form> 
            </div>
        </div>
    </div>
</div>
        
</div>      
</div>
